<table>
    <tr>
      <td><button class="button-g1" [routerLink]="['/route-for-G', 1]">G1</button></td>
      <td><button class="button-g2" [routerLink]="['/route-for-G', 2]">G2</button></td>
      <td><button class="button-g3" [routerLink]="['/route-for-G', 3]">G3</button></td>
    </tr>
    <tr>
      <td><button class="button-g4" [routerLink]="['/route-for-G', 4]">G4</button></td>
      <td><button class="button-g5" [routerLink]="['/route-for-G', 5]">G5</button></td>
      <td><button class="button-g6" [routerLink]="['/route-for-G', 6]">G6</button></td>
    </tr>
  </table>
  
  
  <br>
<button class="button-logout" (click)="logout()">logout</button>
